
.mouse-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: top 0.5s ease, left 0.5s ease;
    width: 100px;
    height: auto;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

header {
    background-color: #fff;
    color: #000;
    padding: 0;
    text-align: center;
}